# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarised

**Objectives:**
- List Common Languages for Data Science
- List Common Libraries for Data Science
- Tabulate Data Science Tools
- Display examples of arithmetic expressions

Some of the common languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. JavaScript
6. Scala

Some of the commonly used libraries used by Data Scientists are:
1. Apache Spark
2. TensorFlow
3. Pandas
4. Scikit-learn

|Data Science Tools|
|------------------|
|Jupyter Notebook|
| Spyder |
| Google CoLab |

### Below are a few examples of evaluating arithmetic examples in Python

In [1]:
#this is a simple arithmetic expression to multipy then add integers
(3*4)+5

17

In [2]:
#this will convert 200 minutues into hours by dividing by 60
200/60

3.3333333333333335

## Author
Kirstin Ferrie